CompileFlags:
  Add: [-mlong-calls, -Wno-unknown-type-name, --sysroot=/home/ape/documents/code/lsp/esp-clang/xtensa-esp32-elf]
  Remove: [-fno-tree-switch-conversion, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields]
